# Database Configuration
DB_USERNAME=root
DB_PASSWORD=whoknow

# JWT Configuration (Change this to a strong, random string in production)
JWT_SECRET=SuperLongSecretKeyThatNoBodyONEARTHCANGUESS

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=daekjrw2e3e
CLOUDINARY_API_KEY=589243758934758
CLOUDINARY_API_SECRET=hjakshiuYIUgsadiashdia
